<div class="header gpu" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h1>About The Map</h1>
</div>

<div style="padding:10px;">
    <div class="well" style="min-height:42px;">
        <img src="libs/leaflet/images/marker-icon-red.png" style="float:left; margin-right: 10px;" />
        <strong>The red map marker indicates your current location.</strong>
    </div>

    <div class="well" style="min-height:42px;">
        <img src="libs/leaflet/images/marker-icon.png" style="float:left; margin-right: 10px;" />
        <strong>The blue map markers indicate the results of your search.</strong>  <br/> Click one for location details.
    </div>

    <div class="well">
        <h4 style="margin-top:0px; margin-bottom: 10px;">Q: Why do some maps have gray areas?</strong> </h4>
        <p><strong>A:</strong> If you are seeing a gray area on the map, then estimated walking times are available for your current location.  The non-shaded area with the green border indicates geographic areas that accessible within a 20 minute walk or train ride.  The closest search results that are within this region will be displayed.</p>

        <p style="text-align: center">
            <img src="assets/images/map_info.jpg" style="border:2px solid white; box-shadow: 2px 2px 4px #444;"/>
        </p>

        <p>Areas that are shaded are further away than a 20 minute walk.</p>

        <p>If you do not see any shaded regions, then we were not able to calculate walk/train transit times for your current location.  If this is the case, you will still see search results, but the results will be measured by mileage instead of travel time.  If there is no walkable time available, then destinations within 2.5 miles of your current location will be displayed.</p>
    </div>

</div>